* {
	font-family: "Times New Roman", Times, serif;
	margin: 0px;
}

html {
	padding: 0px;
}

header {
	width: 100%;
    padding: 0;
    background: linear-gradient(to top, #111, #222);
    box-shadow: 0 0 15px #111;
    border-bottom: 1px solid #1D1D1D;
    margin-bottom: 5px;
	
}

.classNarnia {
	color: yellow;
}

#selectRezolutie {
	position: relative;
	height: 30px;
	bottom: 30px;
}

#butoaneWindow {
	text-align: center;
}
#butoaneWindow > button {
	margin: 10px;
	height: 30px;
}

#headerContainer {
	margin: auto;
	width: 75%;

}

header img {
	margin: 0px;
	display: inline;
	width: 40%;
}

/*header:hover img {
	transform: 
}
*/

canvas {
	/*width: 400px;
	height: 400px;*/
	border: 2px solid black;
	backgrund-color: white;
}

#intro {
	margin: 2%;
	text-align: center;
	font-size: 200%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#chooseFavorite {
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#divDrop {
	border: 2px solid black;
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

nav {
	padding: 0;
	width: 75%;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
}


.active {
    background-color: #4CAF50;
}

body {
	background: #222222;
	padding: 0px;
	color: #999999;
}

.content img {
    height: 162px;
    transition: width 1s, height 1s;
}

.indexSection {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
    background-color: #111;
    padding: 0px;
    border: 2px solid black;
    border-radius: 2px;
    text-align: center;
}

.indexSectionAlternativ {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #111;
    padding: 0px;
    border: 2px solid black;
    border-radius: 2px;
    text-align: center;
}

video {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#imagineDinArray {
    width: 100%;
}

#imagesList > button {
    width: 49%;
    font-size: 1.4em;
}

.indexSection iframe {
	width: 100%;
	padding: 0px;
	border-color: black;
}

section article {
	padding: 0px;
	margin-top: 1%;
}


.aside-left {
	position: fixed;
	top: 20%;
    background-color: #1A1A1A;
    padding: 1px;
    font-size: 100%;
    line-height: 25px;
    border-radius: 4px;
    text-align: right;
}

.aside-right {
	position: fixed;
	top: 20%;
	background-color: #1A1A1A;
    padding: 1px;
    font-size: 100%;
    line-height: 25px;
    border-radius: 4px;
	right: 0;
}

aside h3 {
	padding: 10px;
}

aside ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

aside ul li {
	border: 2px solid #1A1A1A;
}

aside ul li a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	background: #252525;
	color: #999999;
}

.aside-right ul li a:hover {
	background: #AA8844;
	color: #111111;
	text-align: center;
}

.aside-left ul li a:hover {
	transform: translate(-4px, 0);
}

footer {
	text-align: center;
    font-size: 14px;
    line-height: 40px;
    background-color: #111;
    box-shadow: 0 0 5px #111;
    color: #777777;
    font-size: 120%;
}

#landscapes {
	position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

#abstract {
	position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

iframe {
	width: 62%;
	height: 400px;
    max-width: 1000px;
    overflow-x:hidden;
}

nav ul {
	border-radius: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    display: inline-block;
}

nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

nav li .dropdown {
    display: inline-block;
    position: relative;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown-content a {
    color: #999999;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #111}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (max-width: 1000px) {
    .aside-left {
    	position: static;
    	float: left;
    	top: auto;
    	text-align: center;
    	margin: auto;
    	margin: auto auto 50px 50px;
    }

    .aside-right {
    	position: static;
    	float: right;
    	top: auto;
    	text-align: center;
    	margin: auto 50px 50px auto;
    }

    #imagineDinArray {
        width: 100%;
    }

    .indexSection {
    	width: 40%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		margin-bottom: 30px;
    	background-color: #111;
    	padding: 0px;
    	border: 2px solid black;
    	border-radius: 2px;
    	text-align: center;
	}

	footer {
		clear: both;
	}
}

@media only screen and (max-width: 500px) {
    .aside-left {
    	position: static;
    	float: initial;
    	top: auto;
    	text-align: center;
    	margin: 50px;
    }

    .aside-right {
    	position: static;
    	float: initial;
    	top: auto;
    	text-align: center;
    	margin: 50px;
    }

    .indexSection {
    	width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		margin-bottom: 30px;
    	background-color: #111;
    	padding: 0px;
    	border: 2px solid black;
    	border-radius: 2px;
    	text-align: center;
	}

	.content {
		width: 100%;
	}
}

.content {
	text-align: center;
	width: 80%;
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

.content > h2 {
	font-size: 2em;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

content > ul {
	list-style-type: none;
    overflow: hidden;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.content > ul > li{
	display: inline-block;
	border: 2px solid black;
	border-radius: 4px;
	padding-bottom: 0px;
	padding: 5px;
	margin: 10px;
	margin-bottom: 0;
}

.content > ul > li > a {
	display: block;
	margin: 0;
	padding: 0;
	border-top: 2px solid black;
	text-decoration: none;
	color: #999999;
	font-weight: bold;
}

.content > ul > li img:hover {
	opacity: 0.5;
}


.indexSection2 {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
    background-color: #111;
    padding: 0px;
    border: 2px solid black;
    border-radius: 2px;
    text-align: center;
}

.indexSection2 > ul {
	width: 100%;
	list-style-type: none;
	padding: 0;
	padding-top: 5px;
	margin: auto;

  	display: flex;
  	justify-content: space-around;
}

.indexSection2 > ul > li {
	margin:0px auto;
	padding: 2px;
	margin-left: 4%;
}

.indexSection2 > ul > li > img {
	width: 120px;
	transition: width 1s, height 1s;
}

.indexSection2 > ul > li > img:hover {
	width: 300px;
}

@keyframes headerAnimation {
    0%   {left:0px; top:0px;}
    50%  {left:60%; top:0px;}
    100% {left:0px; top:0px;}
}

header img {
	position: relative;
    animation-name: headerAnimation;
    animation-duration: 4s;
    animation-iteration-count: 3;
}


.index2MainBody {
	background-image: url('wallpapers/indexBackground.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 900px;
	text-align: center;
	color: white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    
}

.index2MainBody h1 {
	position: relative;
	top: 20%;
	font-size: 200%;
}
